<div class="index-content framed">
    <h2 id="join-the-community">Join the Community</h2>
    <ul>
        <li>Want to get email alerts when new episodes are dropped?</li>
        <li>Interested in discussing the verses with other Christians?</li>
    </ul>

    <p><a href="https://gaggle.email/join/study@1verse.org">Yes, please!</a></p>
</div>
